.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  float: left;
  margin-left: 10px;
}
.menu li a {
  color: #444;
}
 
.menu li a:hover {
  color: #000;
  text-decoration: none;
} 
