


/*
## Main Menu Template
```
<div class="divider"></div>
<div class="main-menu">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Modules</a></li>
    <li><a href="">Optimize</a></li>
    <li><a href="">Backbone</a></li>
    <li><a href="">Views</a></li>
    <li><a href="">Feedback</a></li>
  </ul>
  <div style="clear: both;"></div>
</div>
<div class="divider"></div>

```
## Main Menu Styles
*/


.main-menu-container {
  margin-bottom: 20px;
}

.main-menu {
  margin: 10px 0 10px 0;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  margin-right: 10px;
  float: left;
}
.main-menu li a,
.main-menu li a:visited {
  padding: 5px;
  color: #515151;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
}
.main-menu li a.active,
.main-menu li a:hover {
  background: #c0c0c0;
  border-radius: 6px;
}
.divider {  
  clear: both;
  border-top: 1px solid #919191;
  border-bottom: 1px solid #ececec;
}
/*

## Heading and Paragraph

```
<h3 class="fixie"></h3>
<p class="fixie"></p>
```
*/

.h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Squada One';
  font-weight: normal;
  margin: 0;
  line-height: 1em;
}

h2 { font-size: 40px; }
h3 { font-size: 36px; }
h4 { font-size: 32px; }
h5 { font-size: 28px; }
h6 { font-size: 24px; }

/*



/*

## Action buttons

adadasd
<span class="fixie"></span>
```
<ul class="action-list">
  <li><a href="">download zip</a></li>
  <li><a href="">view the source</a></li>
  <li><a href="">watch</a></li>
  <li><a href="">fork</a></li>
</ul>
```
*/

.action-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.action-list li {

  text-align: center;
}
.action-list li a {
  font-size: 34px;
  color: #594936;
  font-weight: bold;
}
.action-list li a:visited {
  color: #594936;
}  



body {
  background: #dddddd url('../images/page_bg.png');
  color: #11141b;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

.logo {
  color: #5a4935;
  padding: 0;
  margin: 0;
  text-shadow: 0 1px 1px #fff;
  text-align: center;
  font-family: 'Squada One';
  font-size: 112px;
  font-weight: normal;
  text-transform: uppercase;
}
/*

Boilerplate Stamp!

```
<div class="bp_logo"></div>
```
*/
.bp_logo {
  width: 280px;
  height: 266px;
  background: url('../images/backboneboilerplate_logo.png');
}

#springydemo {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
}

.container {
  margin-bottom: 150px;
}

code, pre {
  background-color: #F8F8F8;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: block;
  font-family: monospace;
  padding: 10px;
}

/*
## Logo
```
<h1 class="logo">BACKBONE BOILERPLATE</h1>
```

## Colors

For the page header and links  
\#5a4935

For body text  
\#11141b

For Navigation links  
\#515151

For Navigation current state  
\#c0c0c0

Body Background color  
\#dddddd

hr top  
\#919191  
hr bottom  
\#ececec


## Fonts

Body  
PT Sans

Header  
Squada One

*/
