<h3>Optimization</h3>
<p>The boilerplate project contains a `build` folder and is designed to be a one line execution optimization process.</p>

<ol>
  <li>Make sure you have node.js installed</li>
  <li>Execute <code>./build.sh</code> from inside the build folder</li>
  <li>Find your ready to go application in `/build/output`</li>
</ol>

<h3>Explanation</h3>
<p>
  The build process uses the require.js optimizer called r.js, it traverses through the dependency list and compiles and minifies them intelligently.
</p>
<p>
 Using r.js once again it runs over styles.css and inlines all the style sheets into one and then minifies the file.
</p>
<p>
  Finally it creates a directory for your output and replaces the relative path to require.js with the latest version hosted on <a href="http://cdnjs.com">cdnjs.com</a>
</p>
<p>
You should now have one Javascript file, one CSS file and the index.html
</p>
<p>
A demo of the outputted code can be found at <a href="http://backboneboilerplate.com/build/output/">http://backboneboilerplate.com/build/output/</a>, make sure you check out the network request tab! (ignore the twitter assets)</p>
</p>

