

 <div class="navbar navbar-inverse navbar-fixed-top main-menu">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Backbone Boilerplate</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a href="#/modules">Modules</a></li>
              <li><a href="#/optimize">Optimize</a></li>
              <li><a href="#/manager">Views</a></li>
              <li><a href="https://github.com/thomasdavis/backboneboilerplate/issues">Feedback</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>