<h2>Backbone View Manager</h2>
<em style="color: red">Incomplete</em>
<p>This page talks about vm.js(View Manager) which is included in this boilerplate.   Vm.js helps control the life cycle of views and assist in areas such as;</p>
<ul>
  <li>Zombie Views</li>
  <li>Duplicate Events</li>
  <li>Organization of nested views</li>
</ul>

<h3>Visualization</h3>
<p>The View Manager can also be used for producing cool charts such as in the proof of concept in footer of the page. 
 I'd love to plot the Event bus on top of this graph in the future to see how your applications events are tied up</p>
<p>Test: <a href="#" class="add-view">Add View</a></p>