/*
## Colors

For the page header and links  
\#5a4935

For body text  
\#11141b

For Navigation links  
\#515151

For Navigation current state  
\#c0c0c0

Body Background color  
\#dddddd

hr top  
\#919191  
hr bottom  
\#ececec

*/


/*
## Action buttons
adadasd
```
<ul class="action-list">
	<li><a href="">download zip</a></li>
	<li><a href="">view the source</a></li>
	<li><a href="">watch</a></li>
	<li><a href="">fork</a></li>
```
*/

.action-list {
  font-family: 'Squada One';
	list-style: none;
	margin: 0;
	padding: 0;
}
.action-list li {

	text-align: center;
}
.action-list li a {
	font-size: 34px;
	color: #594936;
	font-weight: bold;
}
.action-list li a:visited {
	color: #594936;
}	


