<h3>'Modular' enviroment</h3>
<p>
Javascript currently lacks a native way to organized your code into modules unlike other languages.
This has lead to developers writing spaghetti code or using global variable namespaces which both end
diastrously when scaling.
</p>
<p>I'm sure most people understand the benefits of 'modularized' code.  But due to the nature of front-end development
it has been quite disregarded up until now.</p>

<h3>AMD and Require.js</h3>
<p>Asynchronous Module Definitions designed to load modular code asynchronously in the browser and server. It is actually a fork of the Common.js specification. Many script loaders have built their implementations around AMD, seeing it as the future of modular Javascript development.</p>

<p>Backboneboilerplate.com supports Require.js the default AMD loader.   It has a vibrant open-source ecology.</p>

<h3>Laying out the modules</h3>
<p>Compare backboneboilerplate.com to others here</p>