
  <h3>Introduction</h3>
  <p>This is a self-documenting example app useful for quick developer and/or learning backbone.js.</p>
  <p>There are many boiler plates for Backbone.js boilerplates popping up over the place with different philosophies. 
  This solution aims to be absolutely light-weight and robust keeping the following points in mind;</p>
  <ul>
    <li>Stand on the shoulders of giants (Backbone.js, Underscore.js, Require.js, Html5Boilerplate) </li>
    <li>Perpetuate great and efficient practices for single page applications</li>
    <li>Optimized deployment consisting of one js file, one image sprite and one css file (with exceptions)</li>
    <li>One command optimization</li>
    <li>No enforced pre-compilation creating a low entry barrier to starting</li>
    <li>Modular environment (reusable, isolated testing)</li>
    <li>Speed!</li>
  </ul>
  <p>The project aims at being a modular backbone environment with as little authority on development as possible such that developers can innovate and contribute in an attempt to mimic the success of backbone.js ambiguous nature.</p>

  <h3>Getting started</h3>
  <p>Simply clone the repo and serve the files on a http server (nginx, apache)</p>
  <code>git clone https://github.com/thomasdavis/backboneboilerplate.git</code>
  <p>Alternatively run</p>
  <pre>node build/server</pre>
  <p>You may need to install Express</p>
  <pre>npm install express</pre>
